{% extends "::base.html.twig" %}
{% block maintop %}
    <form action="{{ path('NoaLisaEntitiesSetBundle_homepage') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <input type="submit" />
    </form>
{% endblock %}